<app-shopper-header></app-shopper-header>
<div class="container">
  <div *ngIf="cart" class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-12 mt-4">
      <h1>{{ cart.user.name | titlecase }}'s Shopping Cart</h1>
    </div>
  </div>
  <div class="row" *ngIf="cart">
    <div class="col-sm-12 mt-4" *ngFor="let product of cart.products">
      <div class="card border-light mb-3">
        <div class="card-header">
          <u
            ><strong>{{ product.name }}</strong></u
          >
        </div>
        <div class="card-footer bg-transparent text-center">
          <strong>
            Quantity:
            <button
              class="quantity ml-3"
              (click)="removeProduct(product.id, cart.quantity[product.id] - 1)"
            >
              -
            </button>
            <input
              class="quantity ml-0"
              value="{{ cart.quantity[product.id] | number }}"
              disabled="{{ true }}" /></strong
          ><button
            class="quantity ml-0"
            (click)="removeProduct(product.id, cart.quantity[product.id] + 1)"
          >
            +
          </button>
        </div>
        <div class="card-footer bg-transparent text-center">
          Price: ${{ product.price | number }}
        </div>
        <div class="card-footer bg-transparent text-center">
          Delivery Charge: ${{ product.deliveryCharges | number }}
        </div>
        <div class="card-footer bg-transparent text-center">
          Discount: {{ product.discount * 100 | number }}%
        </div>
        <div class="card-footer bg-transparent text-center">
          <strong>
            Final Price: ${{
              product.finalPrice * cart.quantity[product.id] | number
            }}</strong
          >
        </div>
        <div class="card-footer bg-transparent text-center">
          <button
            type="button"
            class="btn btn-primary btn-md"
            (click)="removeProduct(product.id, 0)"
          >
            Remove from Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="cart">
    <div class="col-sm-12 mt-4">
      <div class="card-footer bg-transparent text-center">
        <strong>Total: ${{ cart.total | number }}</strong
        ><button class="ml-4 btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>
