<app-admin-header></app-admin-header>
<div
  *ngIf="products"
  class="row h-100 justify-content-center align-items-center"
>
  <div *ngFor="let product of products">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <u>{{ product.name }}</u>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.description }}</h5>
      </div>
      <div class="card-body">
        <h6>Price: ${{ product.price | number }}</h6>
      </div>
      <div class="card-body">
        <h6>Discount: {{ product.discount * 100 }}%</h6>
      </div>
      <div class="card-body">
        <h6>Delivery Charge: ${{ product.deliveryCharges | number }}</h6>
      </div>
      <div class="card-footer bg-transparent text-center">
        <h6>
          Final Price: ${{
            product.price -
              product.price * product.discount +
              product.deliveryCharges | number
          }}
        </h6>
      </div>
      <div class="panel-footer">
        <button
          type="button"
          class="btn btn-primary btn-md mr-3"
          (click)="editProduct(product)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-primary btn-md"
          (click)="deleteProduct(product.id)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
<br />
