<app-shopper-header></app-shopper-header>
<div
  *ngIf="product"
  class="row h-100 justify-content-center align-items-center"
>
  <div class="card border-light mb-3" style="max-width: 18rem;">
    <div class="card-header">
      <u>{{ product.name }}</u>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ product.description }}</h4>
      <p class="card-text">Discount: {{product.discount | number}}%</p>
      <p class="card-text">
        Delivery Charge: ${{ product.deliveryCharges | number }}
      </p>
      <p class="card-text">
        Available in Inventory: {{ product.quantityInInventory | number }}
      </p>
    </div>
    <div class="card-footer bg-transparent text-center">
      Final Price: ${{ product.price | number }}
    </div>
    <div class="card-footer bg-transparent text-center">
      <button
        type="button"
        class="btn btn-primary btn-md"
        (click)="addToCart()"
      >
        Add to Cart
      </button>
    </div>
  </div>
</div>
